.body{
  background-color: blue;
}

.wlcm{
  text-align: left;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: blue;
 

}
.header{
    margin:20px;
    padding: 20px 12px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    line-height: 0cqmax;
  
}
     
    .header a {
       /* display: flex;
      justify-content: space-between; */
      float: left;
      color: black;
      padding: 10px 14px;
      text-decoration: none;
      font-size: 16px;
      border-radius: 4px;
       color: rgb(0, 0, 0);
       line-height: 25px;
    }

.header-right{
  float: right;
}

.header a.active{
  background-color: rgb(218, 218, 218);
}
.header a:hover{
  background-color: rgb(187, 183, 183);
}
.hdr{
   margin: 20px;
   padding: 20px;
   font-weight: 200;
   font-size: large;
  font-family:Arial, Helvetica, sans-serif;

}
.image-right{
  float: right;
  border-style: dashed;
  

}


    .firstsection {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 60px auto;
      /* flex-wrap: wrap; */
      max-width: 1100px;
      padding: 20px;
    }

    .leftsection {
      font-size: 2.5rem;
      flex: 1;
      min-width: 280px;
      text-align: center;
      margin-bottom: 20px;
    }

    .rightsection {
      flex: 1;
      min-width: 280px;
      display: flex;
      justify-content: center;
    }

    .rightsection img {
      width: 70%;
      max-width: 300px;
      border-radius: 10px;
    }

   
    /* Working Experience */
    .secondsection {
      color: chartreuse;
      max-width: 1100px;
      margin: 40px auto;
      padding: 20px;
    }

    .secondsection h1 {
      color: rgb(255, 0, 17);
      font-size: 2.5rem;
      margin-bottom: 30px;
      text-align: center;
    }

    .box {
      display: flex;
      justify-content:flex-start;
      flex-wrap: wrap;
      gap: 50px;
    }

    .verticle {
      background-color: #414040;
      padding: 20px;
      border-radius: 10px;
      width: 230px;
      text-align: center;
    }

    .verticle img {
      width: 40px;
      margin-bottom: 10px;
    }

    .verticle-title {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #b0c7ff;
    }

    .verticle-desc {
      font-size: 0.9rem;
      color: #aaa;
    }

    h2{
      font-size: 20px;
      text-align: center;
    }
    p{
      text-align: center;
    }
